$light-blue: #e5e6e7;
$light-blue-opaque: rgba(185, 186, 187, 0.5);
$light-blue-focus: #9ac8e9;

$dark-blue: #39454b;

$white-opaque: rgba(255, 255, 255, 0.95);

$green: #98c593;
$green-hover: #a8cea4;
$green-active: #88bc82;

$grey: #b9babb;

$black-opaque: rgba(255, 255, 255, 0.125);
$black-opaque-active: rgba(255, 255, 255, 0.25);



$url-overlay: url("../assets/images/overlay.png");



$transition: 1s ease;



$screen-biggest-width-max: 1680px;
$screen-bigger-width-max: 1280px;
$screen-big-width-max: 960px;
$screen-small-width-max: 736px;
$screen-smaller-width-max: 480px;
$screen-smallest-width-max: 360px;

$screen-biggest-width-min: 1681px;
$screen-bigger-width-min: 1281px;
$screen-big-width-min: 961px;
$screen-small-width-min: 737px;
$screen-smaller-width-min: 481px;
$screen-smallest-width-min: 361px;
